#myCanvas {
    background-color: black;
    left: -300px;
    position: relative;
}

body {
    background-color: grey;
}


#posCanvas {
    position: absolute;
    left: 50%;
}

#version {
    position: absolute;
    top: 790px;
    left: 50%;
}

#version p {
    position: relative;
    left: -9ex;
    color: blue;
    font-size: 2em;
    text-align: center;
}